<#+
public class CreateSQLServerDataBaseTest : Template
{
    // varibles de la plantilla (coinciden con los parametros)
    public ClassBaseContext cbc; 
    public string projectNamespace; 
    public ITree<BoundedContextMetadata> Skt;
	public kayak.MoneyGen.Application BoundedContext;
    // constructor de la plantilla con parametros
    public CreateSQLServerDataBaseTest(ClassBaseContext  cbc, string projectNamespace, ITree<BoundedContextMetadata> Skt, kayak.MoneyGen.Application bc)
        {this.cbc= cbc; this.projectNamespace = projectNamespace;  this.Skt = Skt; ; this.BoundedContext = bc;}

    public override string TransformText()
    {
        // uso de interfaces en las propiedades y por tanto en metodos
        //por defecto se usan interfaces con nhibernate en cualquiera e sus modalidades y no se usan con entityFramework
        string I = (cbc.diagram.ORM.Contains("ibernate"))?"I":"";
        if (true) Debug.WriteLine(string.Format("cbc ='{0}'",cbc,projectNamespace, Skt ));
                                          
        // conceptos propios del projecto en curso
        ProjectConcepts prjCon = new ProjectConcepts(  cbc, projectNamespace, Skt);
        // subplantillas generales
        var cpyrigthTemplate    = new CopyrightHeader(cbc.diagram, cbc.solutionInfo, cbc.entity, T4Help.getLeftStringSlice(this.ToString(), '+', -1).Substring(1));  string cpyrigthText = cpyrigthTemplate.TransformText();
        // subplantillas epsecificas
        var usingTemplate       = new usings( cbc, projectNamespace, Skt);                         string usingTxt     = usingTemplate.TransformText(); //solo los shared kernel
#>

<#= cpyrigthText #>
namespace <#= projectNamespace #>
{
<#= usingTxt #>
    #region usings
    using System;
    using System.Text;
    using System.Collections.Generic;
    using System.Linq;
    using Microsoft.VisualStudio.TestTools.UnitTesting;
    using System.Data.Entity;
    using Microsoft.Practices.Unity;
    using Inflexion2.Domain;
    using Inflexion2;
    using Inflexion2.Infrastructure;
    using Inflexion2.Data;
    using Inflexion2.Security;
    using System.Configuration;

<#+ if (cbc.OwnBoundedContextHasEnums) {#>
    using <#= cbc.diagram.RootNameSpace #>.<#= prjCon.boundedContextName #>.Domain.Data;
<#+ } #>
    using <#= cbc.diagram.RootNameSpace #>.<#= prjCon.boundedContextName #>.Domain;
    using <#= cbc.diagram.RootNameSpace #>.<#= prjCon.boundedContextName #>.Infrastructure;
    #endregion

    /// <summary>
    /// test de creación de la base de datos para sqlserver
    /// </summary>
    [TestClass]
    public class <#= T4Help.SecureName(prjCon.boundedContextName) #>CreateDaBase 
    {
        <#= cbc.diagram.RootNameSpace #>.<#= prjCon.boundedContextName #>.Domain.PerLifeTimeManager unitOfWorkPerTestLifeTimeManager = new <#= cbc.diagram.RootNameSpace #>.<#= prjCon.boundedContextName #>.Domain.PerLifeTimeManager();
        <#= cbc.diagram.RootNameSpace #>.<#= prjCon.boundedContextName #>.Domain.PerLifeTimeManager contextPerTestLifeTimeManager = new PerLifeTimeManager();
        Microsoft.Practices.Unity.UnityContainer unityContainer;
        string connString = null;

		/// <summary>
        /// use this test to create the database
        /// </summary>
        [TestMethod]
        public void DataBaseCreateTest()
        {
            this.unityContainer = new UnityContainer();

            ServiceLocator.Initialize(
                (x, y) => this.unityContainer.RegisterType(x, y),
                (x, y) => this.unityContainer.RegisterInstance(x, y),
                (x) => { return this.unityContainer.Resolve(x); },
                (x) => { return this.unityContainer.ResolveAll(x); });

            // Context Factory
            connString = this.ConnectionString();
            RootAggregateFrameworkUnitOfWorkFactory<<#= cbc.diagram.RootNameSpace #>.<#= prjCon.boundedContextName #>.Infrastructure.BootstrapUnitOfWork> ctxFactory = new RootAggregateFrameworkUnitOfWorkFactory<BootstrapUnitOfWork>(connString);

            if (!ctxFactory.DatabaseExists())
            {
                ctxFactory.CreateDatabase();
            }
            Assert.AreEqual(true, ctxFactory.DatabaseExists());
        }// end data base create

        #region Common Methods
		/// <summary>
        /// method to get the conection string and create the database
        /// </summary>
        protected virtual string ConnectionString()
        {
            return System.Configuration.ConfigurationManager.ConnectionStrings["<#= this.BoundedContext.Product #>.Connection"].ConnectionString;<#+ // TODO: en el futuro habra que sustituir este por el contexto limitado en caso de que cada uno tenga su cadena de conexión. #>
        }
		
        /// <summary>
        /// commit adapter for the UoW of the current ORM
        /// </summary>
        public void Commit()
        {
            IUnitOfWork unitOfWork = this.unityContainer.Resolve<IUnitOfWork>();
            unitOfWork.Commit();
        }
        #endregion
    }



} //  <#= projectNamespace #>
<#+
        return this.GenerationEnvironment.ToString();
    } // end de TransformText
}// end template
#>
