<?xml version="1.0"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <!-- copiado del proyecto del proxy de wcfclient-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEntityBWebService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8679/EntityBWebService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEntityBWebService"
          contract="EntityBServiceReference.IEntityBWebService" name="BasicHttpBinding_IEntityBWebService" />
    </client>
  </system.serviceModel>
  
</configuration>
