<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <compilation
    xdt:Transform="RemoveAttributes(debug)">
  </compilation>
  <system.serviceModel>
    <client>
      <endpoint address="http://rtecdes2:8181/Security/Services/AuthenticationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="AuthenticationService.IAuthenticationService"
        name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Sectores/Sector/SectorService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Company.Product.Shared.Clientes.Application.RemoteClient.WCF.Sectores.Sector.ISectorService"
        name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Global/Pais/PaisService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Mtom"
        contract="Global.Pais.IPaisService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Global/Localidad/LocalidadService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Mtom"
        contract="Global.Localidad.ILocalidadService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Global/Provincia/ProvinciaService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Mtom"
        contract="Global.Provincia.IProvinciaService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Grupos/GrupoCentral/GrupoCentralService.svc"
       binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
       contract="Grupos.GrupoCentral.IGrupoCentralService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/RolesPlayer/TipoRolePlayer/TipoRolePlayerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="RolesPlayer.TipoRolePlayer.ITipoRolePlayerService"
        name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Players/TipoPlayer/TipoPlayerService.svc"
       binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
       contract="RelacionesRoles.TipoRelacion.ITipoPlayerService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Sectores/Sector/SectorService.svc"
       binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
       contract="Sectores.Sector.ISectorService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Sectores/Subsector/SubsectorService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Sectores.Subsector.ISubsectorService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Bloqueos/AccionBloqueo/AccionBloqueoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Bloqueos.AccionBloqueo.IAccionBloqueoService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Bloqueos/TipoAccionBloqueo/TipoAccionBloqueoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Bloqueos.TipoAccionBloqueo.ITipoAccionBloqueoService"
        name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Bloqueos/TipoBloqueo/TipoBloqueoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Bloqueos.TipoBloqueo.ITipoBloqueoService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Facturacion/CentroCobro/CentroCobroService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Mtom"
        contract="Facturacion.CentroCobro.ICentroCobroService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Facturacion/Cuentas/CuentaBancaria/CuentaBancariaService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Facturacion.Cuentas.CuentaBancaria.ICuentaBancariaService"
        name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Facturacion/Cuentas/CuentaContable/CuentaContableService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Facturacion.Cuentas.CuentaContable.ICuentaContableService"
        name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Facturacion/DatosFacturacion/DatosFacturacionService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Facturacion.DatosFacturacion.IDatosFacturacionService"
        name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Facturacion/FormaPago/FormaPagoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Facturacion.FormaPago.IFormaPagoService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Facturacion/Niveles/NivelAgrupacion/NivelAgrupacionService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Facturacion.Niveles.NivelAgrupacion.INivelAgrupacionService"
        name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Facturacion/Niveles/NivelDetalleFactura/NivelDetalleFacturaService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Facturacion.Niveles.NivelDetalleFactura.INivelDetalleFacturaService"
        name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Facturacion/PeriodoFacturacion/PeriodoFacturacionService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Facturacion.PeriodoFacturacion.IPeriodoFacturacionService"
        name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Facturacion/Ramo/RamoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Facturacion.Ramo.IRamoService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Facturacion/ResponsableCobro/ResponsableCobroService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Facturacion.ResponsableCobro.IResponsableCobroService"
        name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Facturacion/TipoCliente/TipoClienteService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Facturacion.TipoCliente.ITipoClienteService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Facturacion/TipoIva/TipoIvaService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Facturacion.TipoIva.ITipoIvaService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Facturacion/ViaPago/ViaPagoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Facturacion.ViaPago.IViaPagoService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Global/TipoEntidad/TipoEntidadService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Global.TipoEntidad.ITipoEntidadService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />


      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Grupos/HistoricoGrupo/HistoricoGrupoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Grupos.HistoricoGrupo.IHistoricoGrupoService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Players/Contacto/ContactoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Players.Contacto.IContactoService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Players/Player/PlayerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Players.Player.IPlayerService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Players/PlayerServices.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Players.IPlayerServices" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />


      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Players/Riesgo/RiesgoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Players.Riesgo.IRiesgoService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Players/TipoPlayer/TipoPlayerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Players.TipoPlayer.ITipoPlayerService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Productos/Marca/MarcaService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="Productos.Marca.IMarcaService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />


      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/RolesPlayer/Clientes/Agencia/AgenciaService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="RolesPlayer.Clientes.Agencia.IAgenciaService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/RolesPlayer/Clientes/Anunciante/AnuncianteService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="RolesPlayer.Clientes.Anunciante.IAnuncianteService"
        name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/RolesPlayer/Clientes/Central/CentralService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="RolesPlayer.Clientes.Central.ICentralService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <!--Audiencias-->
      <endpoint address="http://rtecdes2:8181/SISCO/Audiencias/Prevision/PrevisionService.svc" binding="basicHttpBinding"
                      bindingConfiguration="BasicHttpBinding_Mtom"
                      contract="PrevisionService.IPrevisionService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Audiencias/ImportacionDatos/CargaDatosService.svc"
               binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Mtom"
               contract="CargaDatosService.ICargaDatosService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Audiencias/Target/TargetService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
          contract="TargetService.ITargetService" name="BasicHttpBinding"
          xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <!--Politica Comercial-->
      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/Desconexion/DesconexionService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Mtom"
          contract="DesconexionReference.IDesconexionService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/Ambito/AmbitoService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
          contract="AmbitoServiceReference.IAmbitoService" name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/GrupoDesconexion/GrupoDesconexionService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Mtom"
          contract="GrupoDesconexionReference.IGrupoDesconexionService"
          name="BasicHttpBinding_IGrupoDesconexionService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/Medio/MedioService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
          contract="MedioReference.IMedioService" name="BasicHttpBinding_IMedioService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/TipoMedio/TipoMedioService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
          contract="TipoMedioReference.ITipoMedioService" name="BasicHttpBinding_ITipoMedioService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/FormaPublicitaria/TipoPublicidad/TipoPublicidadService.svc"
         binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
         contract="TipoPublicidadReference.ITipoPublicidadService"
         name="BasicHttpBinding_ITipoPublicidadService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/GranFranja/GranFranjaSofres/GranFranjaSofresService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
          contract="GranFranjaSofresReference.IGranFranjaSofresService"
          name="BasicHttpBinding_IGranFranjaSofresService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/Recargos/TipoRecargoGenerico/TipoRecargoGenericoService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
          contract="TipoRecargoGenericoReference.ITipoRecargoGenericoService"
          name="BasicHttpBinding_ITipoRecargoGenericoService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/Politica/PoliticaService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Mtom"
          contract="PoliticaReference.IPoliticaService" name="BasicHttpBinding_IPoliticaService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/Soporte/SoporteService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
          contract="SoporteReference.ISoporteService" name="BasicHttpBinding_ISoporteService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/GranFranja/GranFranjaMaestra/GranFranjaMaestraService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
          contract="GranFranjaMaestraReference.IGranFranjaMaestraService"
          name="BasicHttpBinding_IGranFranjaMaestraService"
          xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/GranFranja/GranFranjaPolitica/GranFranjaPoliticaService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Mtom"
          contract="GranFranjaPoliticaReference.IGranFranjaPoliticaService"
          name="BasicHttpBinding"
          xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/Franja/FranjaMaestra/FranjaMaestraService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
          contract="FranjaMaestraReference.IFranjaMaestraService"
          name="BasicHttpBinding_IFranjaMaestraService"
          xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/Franja/FranjaPolitica/FranjaPoliticaService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Mtom"
          contract="FranjaPoliticaReference.IFranjaPoliticaService"
          name="BasicHttpBinding_IFranjaPoliticaService"
          xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/Corte/CortePolitica/CortePoliticaService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Mtom"
          contract="CortePoliticaReference.ICortePoliticaService"
          name="BasicHttpBinding_ICortePoliticaService"
          xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/GranFranja/GranFranjaService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
          contract="GranFranjaReference.IGranFranjaService" name="BasicHttpBinding_IGranFranjaService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/Franja/FranjaService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
          contract="FranjaReferences.IFranjaService" name="BasicHttpBinding_IFranjaService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/Corte/CorteService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
          contract="CorteReference.ICorteService" name="BasicHttpBinding_ICorteService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/FormaPublicitaria/FormaPublicitariaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
                contract="FormaPublicitariaReference.IFormaPublicitariaService"
                name="BasicHttpBinding_IFormaPublicitariaService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/Contenedores/TipoTiempo/TipoTiempoService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
          contract="TipoTiempoReference.ITipoTiempoService"
          name="BasicHttpBinding_ITipoTiempoService"
          xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/Contenedores/TipoPosicion/TipoPosicionService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
          contract="TipoPosicionReference.ITipoPosicionService"
          name="BasicHttpBinding_ITipoPosicionService"
          xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/PoliticaComercial/Contenedores/TipoFormaPublicitaria/TipoFormaPublicitariaService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
          contract="TipoFormaPublicitariaReference.ITipoFormaPublicitariaService"
          name="BasicHttpBinding_ITipoFormaPublicitariaService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/Politica/Validaciones/ValidacionPoliticaService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Mtom"
        contract="ValidacionPoliticaReference.IValidacionPoliticaService"
        name="BasicHttpBinding_IValidacionPoliticaService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <!-- Dirección de Envío -->
      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Players/DireccionEnvio/DireccionEnvioServices.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Players.DireccionEnvio.IDireccionEnvioServices"
                name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />


      <!-- Contacto -->
      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Players/Contacto/ContactoServices.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Players.Contacto.IContactoServices"
                name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <!-- Empresa -->
      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Global/Empresa/EmpresaService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Global.Empresa.IEmpresaService"
                name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <!-- SERVICIOS DE PLAYERS -->

      <!-- Cliente -->
      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Players/Cliente/ClienteServices.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Mtom"
                contract="Players.Cliente.IClienteServices"
                name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />


      <!-- Sociedad -->
      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Players/Sociedad/SociedadServices.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Players.Sociedad.ISociedadServices"
                name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />


      <!-- Subsidiario -->
      <endpoint address="http://rtecdes2:8181/SISCO/Clientes/Players/Subsidiario/SubsidiarioServices.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Players.Subsidiario.ISubsidiarioServices"
                name="BasicHttpBinding"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />


      <!--Seguridad-->
      <endpoint address="http://rtecdes2:8181/Security/Services/AuthenticationService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="LoginService.ILogin"
                name="BasicHttpBinding_ILogin"
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <!-- Internet (AdServer) -->
      <endpoint address="http://rtecdes2:8181/SISCO/Internet/AdServer/AdAdvertiserService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Internet.AdAdvertiser.IAdAdvertiserService"
                name="BasicHttpBinding"
                xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Internet/AdServer/AdCampaignService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Internet.AdCampaign.IAdCampaignService"
                name="BasicHttpBinding"
                xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Internet/AdServer/AdFormatService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Internet.AdFormat.IAdFormatService"
                name="BasicHttpBinding"
                xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Internet/AdServer/AdSiteService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Internet.AdSite.IAdSiteService"
                name="BasicHttpBinding"
                xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Internet/AdServer/AdPageService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Internet.AdPage.IAdPageService"
                name="BasicHttpBinding"
                xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Internet/AdServer/AdInsertionService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Mtom"
                contract="Internet.AdInsertion.IAdInsertionService"
                name="BasicHttpBinding"
                xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Internet/AdServer/AdStatDetailsService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Internet.AdStatDetails.IAdStatDetailsService"
                name="BasicHttpBinding"
                xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Internet/AdServer/AdOperatingSystemService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Internet.AdOperatingSystem.IAdOperatingSystemService"
                name="BasicHttpBinding"
                xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Internet/AdServer/AdSupportService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Internet.AdSupport.IAdSupportService"
                name="BasicHttpBinding"
                xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Internet/AdServer/AdCostInsertionService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Internet.AdCostInsertion.IAdCostInsertionService"
                name="BasicHttpBinding"
                xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Internet/Site/SiteService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Internet.Site.ISiteService"
                name="BasicHttpBinding"
                xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Internet/GrupoSite/GrupoSiteService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Internet.GrupoSite.IGrupoSiteService"
                name="BasicHttpBinding"
                xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Internet/GrupoSiteAdServer/GrupoSiteAdServerService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Internet.GrupoSiteAdServer.IGrupoSiteAdServerService"
                name="BasicHttpBinding"
                xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Internet/FormatoInternet/FormatoInternetService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Internet.FormatoInternet.IFormatoInternetService"
                name="BasicHttpBinding"
                xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Internet/NegoInternet/NegoInternetService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Internet.NegoInternet.INegoInternetService"
                name="BasicHttpBinding"
                xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Internet/TipoCosteInternet/TipoCosteInternetService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Internet.TipoCosteInternet.ITipoCosteInternetService"
                name="BasicHttpBinding"
                xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Internet/TipoCampaniaInternet/TipoCampaniaInternetService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Internet.TipoCampaniaInternet.ITipoCampaniaInternetService"
                name="BasicHttpBinding"
                xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Internet/CampaniaInternet/CampaniaInternetService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Internet.CampaniaInternet.ICampaniaInternetService"
                name="BasicHttpBinding"
                xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Internet/LineaNegoInternet/LineaNegoInternetService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Internet.LineaNegoInternet.ILineaNegoInternetService"
                name="BasicHttpBinding"
                xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://rtecdes2:8181/SISCO/Internet/ReservaInternet/ReservaInternetService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding"
                contract="Internet.ReservaInternet.IReservaInternetService"
                name="BasicHttpBinding"
                xdt:Transform="Replace" xdt:Locator="Match(contract)" />

    </client>
  </system.serviceModel>
</configuration>