<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICategoriaService" />
                <binding name="BasicHttpBinding_IPersonaService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Atento.Suite.Shared.Application.WcfService/CategoriaService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICategoriaService"
                contract="CategoriaReference.ICategoriaService" name="BasicHttpBinding_ICategoriaService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Atento.Suite.Shared.Application.WcfService/PersonaService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonaService"
                contract="PersonaReference.IPersonaService" name="BasicHttpBinding_IPersonaService" />
        </client>
    </system.serviceModel>
</configuration>