<?xml version="1.0" encoding="utf-8" ?>
<!-- Fichero generado con una herramienta template t4includes.Application.WcfServiceAppConfigCT.tt -->
<configuration>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <configSections>
    <section name="entityFramework" 
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
             requirePermission="false" />
  </configSections>

  <appSettings>
    <!-- this is the name of the file with all the conection strings to the possible database connections-->
    <add key="DbConfigFile" value ="NeedelDbConfig.xml"/>
    <add key="SelectedDB" value="Default"/>
  </appSettings>

  <connectionStrings>
    <add name="Needel.Connection"
    connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=NeedelDB2;Integrated Security=True"/>
  </connectionStrings>

  
    <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.web>
    <compilation debug="true" />
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

    <!-- 
        When deploying the service library project, the content of the config file must be added to the host's 
        App.config file. System.Configuration does not support config files for libraries. 
    -->
  <system.serviceModel>
    <services>
      <!--  name es el path correspondiente al namespace + la clase -->

      <service name="Needel.Common.Application.WcfService.UserService"> 
        <host>
          <baseAddresses>
            <!-- Base addres es un path fisico que ha de incluir las carpetas -->
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/UserService/" /> 
         </baseAddresses>
        </host>
        <!-- 
            Service Endpoints 
            Unless fully qualified, address is relative to base address supplied above 
            contract is  the path from the namespace + the interface 
            Upon deployment, the following identity element should be removed or replaced to reflect the 
            identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
            automatically.
        -->
      <endpoint address="" 
                binding="basicHttpBinding" 
                contract="Needel.Common.Application.WcfService.Contracts.IUserService">
          <identity> <dns value="localhost"/> </identity>
      </endpoint>
        <!-- 
            Metadata Endpoints 
            The Metadata Exchange endpoint is used by the service to describe itself to clients.  
            This endpoint does not use a secure binding and should be secured or removed before deployment 
        -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="Needel.Common.Application.WcfService.AppSettingService"> 
        <host>
          <baseAddresses>
            <!-- Base addres es un path fisico que ha de incluir las carpetas -->
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/AppSettingService/" /> 
         </baseAddresses>
        </host>
        <!-- 
            Service Endpoints 
            Unless fully qualified, address is relative to base address supplied above 
            contract is  the path from the namespace + the interface 
            Upon deployment, the following identity element should be removed or replaced to reflect the 
            identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
            automatically.
        -->
      <endpoint address="" 
                binding="basicHttpBinding" 
                contract="Needel.Common.Application.WcfService.Contracts.IAppSettingService">
          <identity> <dns value="localhost"/> </identity>
      </endpoint>
        <!-- 
            Metadata Endpoints 
            The Metadata Exchange endpoint is used by the service to describe itself to clients.  
            This endpoint does not use a secure binding and should be secured or removed before deployment 
        -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="Needel.Common.Application.WcfService.DepartmentService"> 
        <host>
          <baseAddresses>
            <!-- Base addres es un path fisico que ha de incluir las carpetas -->
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/DepartmentService/" /> 
         </baseAddresses>
        </host>
        <!-- 
            Service Endpoints 
            Unless fully qualified, address is relative to base address supplied above 
            contract is  the path from the namespace + the interface 
            Upon deployment, the following identity element should be removed or replaced to reflect the 
            identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
            automatically.
        -->
      <endpoint address="" 
                binding="basicHttpBinding" 
                contract="Needel.Common.Application.WcfService.Contracts.IDepartmentService">
          <identity> <dns value="localhost"/> </identity>
      </endpoint>
        <!-- 
            Metadata Endpoints 
            The Metadata Exchange endpoint is used by the service to describe itself to clients.  
            This endpoint does not use a secure binding and should be secured or removed before deployment 
        -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="Needel.Common.Application.WcfService.AddressService"> 
        <host>
          <baseAddresses>
            <!-- Base addres es un path fisico que ha de incluir las carpetas -->
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/AddressService/" /> 
         </baseAddresses>
        </host>
        <!-- 
            Service Endpoints 
            Unless fully qualified, address is relative to base address supplied above 
            contract is  the path from the namespace + the interface 
            Upon deployment, the following identity element should be removed or replaced to reflect the 
            identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
            automatically.
        -->
      <endpoint address="" 
                binding="basicHttpBinding" 
                contract="Needel.Common.Application.WcfService.Contracts.IAddressService">
          <identity> <dns value="localhost"/> </identity>
      </endpoint>
        <!-- 
            Metadata Endpoints 
            The Metadata Exchange endpoint is used by the service to describe itself to clients.  
            This endpoint does not use a secure binding and should be secured or removed before deployment 
        -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="Needel.Common.Application.WcfService.ComponentService"> 
        <host>
          <baseAddresses>
            <!-- Base addres es un path fisico que ha de incluir las carpetas -->
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/ComponentService/" /> 
         </baseAddresses>
        </host>
        <!-- 
            Service Endpoints 
            Unless fully qualified, address is relative to base address supplied above 
            contract is  the path from the namespace + the interface 
            Upon deployment, the following identity element should be removed or replaced to reflect the 
            identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
            automatically.
        -->
      <endpoint address="" 
                binding="basicHttpBinding" 
                contract="Needel.Common.Application.WcfService.Contracts.IComponentService">
          <identity> <dns value="localhost"/> </identity>
      </endpoint>
        <!-- 
            Metadata Endpoints 
            The Metadata Exchange endpoint is used by the service to describe itself to clients.  
            This endpoint does not use a secure binding and should be secured or removed before deployment 
        -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="Needel.Common.Application.WcfService.TeacherService"> 
        <host>
          <baseAddresses>
            <!-- Base addres es un path fisico que ha de incluir las carpetas -->
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/TeacherService/" /> 
         </baseAddresses>
        </host>
        <!-- 
            Service Endpoints 
            Unless fully qualified, address is relative to base address supplied above 
            contract is  the path from the namespace + the interface 
            Upon deployment, the following identity element should be removed or replaced to reflect the 
            identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
            automatically.
        -->
      <endpoint address="" 
                binding="basicHttpBinding" 
                contract="Needel.Common.Application.WcfService.Contracts.ITeacherService">
          <identity> <dns value="localhost"/> </identity>
      </endpoint>
        <!-- 
            Metadata Endpoints 
            The Metadata Exchange endpoint is used by the service to describe itself to clients.  
            This endpoint does not use a secure binding and should be secured or removed before deployment 
        -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="Needel.Common.Application.WcfService.StudentService"> 
        <host>
          <baseAddresses>
            <!-- Base addres es un path fisico que ha de incluir las carpetas -->
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/StudentService/" /> 
         </baseAddresses>
        </host>
        <!-- 
            Service Endpoints 
            Unless fully qualified, address is relative to base address supplied above 
            contract is  the path from the namespace + the interface 
            Upon deployment, the following identity element should be removed or replaced to reflect the 
            identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
            automatically.
        -->
      <endpoint address="" 
                binding="basicHttpBinding" 
                contract="Needel.Common.Application.WcfService.Contracts.IStudentService">
          <identity> <dns value="localhost"/> </identity>
      </endpoint>
        <!-- 
            Metadata Endpoints 
            The Metadata Exchange endpoint is used by the service to describe itself to clients.  
            This endpoint does not use a secure binding and should be secured or removed before deployment 
        -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="Needel.Common.Application.WcfService.GraphNodeService"> 
        <host>
          <baseAddresses>
            <!-- Base addres es un path fisico que ha de incluir las carpetas -->
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/GraphNodeService/" /> 
         </baseAddresses>
        </host>
        <!-- 
            Service Endpoints 
            Unless fully qualified, address is relative to base address supplied above 
            contract is  the path from the namespace + the interface 
            Upon deployment, the following identity element should be removed or replaced to reflect the 
            identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
            automatically.
        -->
      <endpoint address="" 
                binding="basicHttpBinding" 
                contract="Needel.Common.Application.WcfService.Contracts.IGraphNodeService">
          <identity> <dns value="localhost"/> </identity>
      </endpoint>
        <!-- 
            Metadata Endpoints 
            The Metadata Exchange endpoint is used by the service to describe itself to clients.  
            This endpoint does not use a secure binding and should be secured or removed before deployment 
        -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="Needel.Common.Application.WcfService.EntityMService"> 
        <host>
          <baseAddresses>
            <!-- Base addres es un path fisico que ha de incluir las carpetas -->
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/EntityMService/" /> 
         </baseAddresses>
        </host>
        <!-- 
            Service Endpoints 
            Unless fully qualified, address is relative to base address supplied above 
            contract is  the path from the namespace + the interface 
            Upon deployment, the following identity element should be removed or replaced to reflect the 
            identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
            automatically.
        -->
      <endpoint address="" 
                binding="basicHttpBinding" 
                contract="Needel.Common.Application.WcfService.Contracts.IEntityMService">
          <identity> <dns value="localhost"/> </identity>
      </endpoint>
        <!-- 
            Metadata Endpoints 
            The Metadata Exchange endpoint is used by the service to describe itself to clients.  
            This endpoint does not use a secure binding and should be secured or removed before deployment 
        -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="Needel.Common.Application.WcfService.MNZService"> 
        <host>
          <baseAddresses>
            <!-- Base addres es un path fisico que ha de incluir las carpetas -->
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/MNZService/" /> 
         </baseAddresses>
        </host>
        <!-- 
            Service Endpoints 
            Unless fully qualified, address is relative to base address supplied above 
            contract is  the path from the namespace + the interface 
            Upon deployment, the following identity element should be removed or replaced to reflect the 
            identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
            automatically.
        -->
      <endpoint address="" 
                binding="basicHttpBinding" 
                contract="Needel.Common.Application.WcfService.Contracts.IMNZService">
          <identity> <dns value="localhost"/> </identity>
      </endpoint>
        <!-- 
            Metadata Endpoints 
            The Metadata Exchange endpoint is used by the service to describe itself to clients.  
            This endpoint does not use a secure binding and should be secured or removed before deployment 
        -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="Needel.Common.Application.WcfService.EntityNService"> 
        <host>
          <baseAddresses>
            <!-- Base addres es un path fisico que ha de incluir las carpetas -->
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/EntityNService/" /> 
         </baseAddresses>
        </host>
        <!-- 
            Service Endpoints 
            Unless fully qualified, address is relative to base address supplied above 
            contract is  the path from the namespace + the interface 
            Upon deployment, the following identity element should be removed or replaced to reflect the 
            identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
            automatically.
        -->
      <endpoint address="" 
                binding="basicHttpBinding" 
                contract="Needel.Common.Application.WcfService.Contracts.IEntityNService">
          <identity> <dns value="localhost"/> </identity>
      </endpoint>
        <!-- 
            Metadata Endpoints 
            The Metadata Exchange endpoint is used by the service to describe itself to clients.  
            This endpoint does not use a secure binding and should be secured or removed before deployment 
        -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="Needel.Common.Application.WcfService.EntityZService"> 
        <host>
          <baseAddresses>
            <!-- Base addres es un path fisico que ha de incluir las carpetas -->
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/EntityZService/" /> 
         </baseAddresses>
        </host>
        <!-- 
            Service Endpoints 
            Unless fully qualified, address is relative to base address supplied above 
            contract is  the path from the namespace + the interface 
            Upon deployment, the following identity element should be removed or replaced to reflect the 
            identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
            automatically.
        -->
      <endpoint address="" 
                binding="basicHttpBinding" 
                contract="Needel.Common.Application.WcfService.Contracts.IEntityZService">
          <identity> <dns value="localhost"/> </identity>
      </endpoint>
        <!-- 
            Metadata Endpoints 
            The Metadata Exchange endpoint is used by the service to describe itself to clients.  
            This endpoint does not use a secure binding and should be secured or removed before deployment 
        -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
            <!-- 
                To avoid disclosing metadata information, 
                set the values below to false before deployment 
            -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
            <!-- 
                To receive exception details in faults for debugging purposes, 
                set the value below to true.  Set to false before deployment 
                to avoid disclosing exception information 
            -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
