<?xml version="1.0" encoding="utf-8" ?>
<!-- Fichero generado con una herramienta template t4includes.Application.WcfServiceAppConfigCT.tt -->
<configuration>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <configSections>
    <section name="entityFramework" 
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
             requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <connectionStrings>
    <add name="Suite.Connection"
    connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AtentoSuite;Integrated Security=True"/>
  </connectionStrings>

  
    <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.web>
    <compilation debug="true" />
  </system.web>

	<!-- 
		When deploying the service library project, the content of the config file must be added to the host's 
		app.config file. System.Configuration does not support config files for libraries. 
	-->
  <system.serviceModel>
    <services>
      <!--  name es el path correspondiente al namespace + la clase -->

      <service name="Atento.Suite.Shared.Application.WcfService.PersonaService"> 
        <host>
          <baseAddresses>
            <!-- Base addres es un path fisico que ha de incluir las carpetas -->
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/Atento.Suite.Shared.Application.WcfService/PersonaService/" /> 
         </baseAddresses>
        </host>
        <!-- 
			Service Endpoints 
			Unless fully qualified, address is relative to base address supplied above 
			contract is  the path from the namespace + the interface 
            Upon deployment, the following identity element should be removed or replaced to reflect the 
            identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
            automatically.
        -->
      <endpoint address="" 
				binding="basicHttpBinding" 
				contract="Atento.Suite.Shared.Application.WcfService.Contracts.IPersonaService">
          <identity> <dns value="localhost"/> </identity>
      </endpoint>
        <!-- 
			Metadata Endpoints 
			The Metadata Exchange endpoint is used by the service to describe itself to clients.  
			This endpoint does not use a secure binding and should be secured or removed before deployment 
		-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="Atento.Suite.Shared.Application.WcfService.CategoriaService"> 
        <host>
          <baseAddresses>
            <!-- Base addres es un path fisico que ha de incluir las carpetas -->
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/Atento.Suite.Shared.Application.WcfService/CategoriaService/" /> 
         </baseAddresses>
        </host>
        <!-- 
			Service Endpoints 
			Unless fully qualified, address is relative to base address supplied above 
			contract is  the path from the namespace + the interface 
            Upon deployment, the following identity element should be removed or replaced to reflect the 
            identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
            automatically.
        -->
      <endpoint address="" 
				binding="basicHttpBinding" 
				contract="Atento.Suite.Shared.Application.WcfService.Contracts.ICategoriaService">
          <identity> <dns value="localhost"/> </identity>
      </endpoint>
        <!-- 
			Metadata Endpoints 
			The Metadata Exchange endpoint is used by the service to describe itself to clients.  
			This endpoint does not use a secure binding and should be secured or removed before deployment 
		-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
			<!-- 
				To avoid disclosing metadata information, 
				set the values below to false before deployment 
			-->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
			<!-- 
				To receive exception details in faults for debugging purposes, 
				set the value below to true.  Set to false before deployment 
				to avoid disclosing exception information 
			-->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
