            // MandatoryConstructorParamnsSimple                     /<#= cbc.MandatoryConstructorParamnsSimple #>/
            // MandatoryConstructorParamns                           /<#= cbc.MandatoryConstructorParamns  #>/
            // MandatoryConstructorParamnsWithAll                    /<#= cbc.MandatoryConstructorParamnsWithAll  #>/
            // MandatoryConstructorParamnsWithAllnoId                /<#= cbc.MandatoryConstructorParamnsWithAllnoId  #>/
            // MandatoryConstructorParamnsWithOutDefaultValues       /<#= cbc.MandatoryConstructorParamnsWithOutDefaultValues  #>/
            // MandatoryConstructorParamnsCall                       /<#= cbc.MandatoryConstructorParamnsCall  #>/
            // MandatoryConstructorParamnsCallnoID                   /<#= cbc.MandatoryConstructorParamnsCallnoID  #>/
            // MandatoryConstructorParamnsCallnoIDForDto             /<#= cbc.MandatoryConstructorParamnsCallnoIDForDto   #>/
            // MandatoryConstructorParamnsDTO                        /<#= cbc.MandatoryConstructorParamnsDTO   #>/
            // MandatoryEntityBaseConstructorParamans                /<#= cbc.MandatoryEntityBaseConstructorParamans   #>/
            // MandatoryEntityBaseConstructorParamansDefinition      /<#= cbc.MandatoryEntityBaseConstructorParamansDefinition   #>/
            // MandatoryEntityBaseConstructorParamansDTO             /<#= cbc.MandatoryEntityBaseConstructorParamansDTO   #>/
            // MandatoryEntityBaseConstructorParamansDefinitionDTO   /<#= cbc.MandatoryEntityBaseConstructorParamansDefinitionDTO  #> */
