<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_ITeacherService" />
                <binding name="BasicHttpBinding_IStudentService" />
                <binding name="BasicHttpBinding_IMNZService" />
                <binding name="BasicHttpBinding_IGraphNodeService" />
                <binding name="BasicHttpBinding_IEntityZService" />
                <binding name="BasicHttpBinding_IEntityNService" />
                <binding name="BasicHttpBinding_IEntityMService" />
                <binding name="BasicHttpBinding_IDepartmentService" />
                <binding name="BasicHttpBinding_IComponentService" />
                <binding name="BasicHttpBinding_IAppSettingService" />
                <binding name="BasicHttpBinding_IAddressService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/UserService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                contract="UserReference.IUserService" name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/TeacherService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITeacherService"
                contract="TeacherReference.ITeacherService" name="BasicHttpBinding_ITeacherService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/StudentService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStudentService"
                contract="StudentReference.IStudentService" name="BasicHttpBinding_IStudentService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/MNZService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMNZService"
                contract="MNZReference.IMNZService" name="BasicHttpBinding_IMNZService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/GraphNodeService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGraphNodeService"
                contract="GraphNodeReference.IGraphNodeService" name="BasicHttpBinding_IGraphNodeService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/EntityZService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEntityZService"
                contract="EntityZReference.IEntityZService" name="BasicHttpBinding_IEntityZService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/EntityNService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEntityNService"
                contract="EntityNReference.IEntityNService" name="BasicHttpBinding_IEntityNService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/EntityMService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEntityMService"
                contract="EntityMReference.IEntityMService" name="BasicHttpBinding_IEntityMService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/DepartmentService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDepartmentService"
                contract="DepartmentReference.IDepartmentService" name="BasicHttpBinding_IDepartmentService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/ComponentService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IComponentService"
                contract="ComponentReference.IComponentService" name="BasicHttpBinding_IComponentService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/AppSettingService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAppSettingService"
                contract="AppSettingReference.IAppSettingService" name="BasicHttpBinding_IAppSettingService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/AddressService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAddressService"
                contract="AddressReference.IAddressService" name="BasicHttpBinding_IAddressService" />
        </client>
    </system.serviceModel>
</configuration>