<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAddressService" />
                <binding name="BasicHttpBinding_IDepartmentService1" />
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_IAppSettingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/AddressService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAddressService"
                contract="AddressReference.IAddressService" name="BasicHttpBinding_IAddressService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/DepartmentService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDepartmentService1"
                contract="DepartmentReference.IDepartmentService" name="BasicHttpBinding_IDepartmentService1" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/UserService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                contract="UserReference.IUserService" name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/AppSettingService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAppSettingService"
                contract="AppSettingReference.IAppSettingService" name="BasicHttpBinding_IAppSettingService" />
        </client>
    </system.serviceModel>
</configuration>